* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    overflow: hidden;
}

.game-screen{
    position: absolute;
    left: 0;
    top: 0;

    transform-origin: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.game-viewport {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    position: relative;    
}

.game-viewport:active {
    cursor: grabbing;
}

.game-board {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 50%;

    background-color: #111;
    
    background-repeat: no-repeat;
    background-size:100%;

}

.game-item {
    position: absolute;

    object-fit: contain;

    cursor: pointer;

   /* transform: translate(-50%, -50%);*/
}

.level-buttons {
    position: fixed;

    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 10px;
}

.level-buttons button {
    padding: 10px 20px;

    cursor: pointer;
}